/* flex-wrap: wrap; içerikler sıkıştığı durumda otomatik olarak alta atılır */ 
/* justify-content ana yönü baz alır */ 
/* align-items ters yönü baz alır */ 

.workout-programs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
}

.workout-programs .title {
    font-size: 20px;
}

.card-list {
    display: grid; /* içindeki her element, sahip olduğu boyut kadar yer kaplayabilir */
    grid-template-columns: repeat(3,285px); /* 3'erli eşit boyutlarda ızgara şablonu kurar */
    justify-content: center;
    gap: 40px;
}

.card {
    display: flex;
    width: 285px;
    flex-direction: column;
    align-items: center; /*  ters yönü baz alır */
    gap: 15px;
    border-radius: 20px;
    padding: 20px 0px;
    box-shadow: -1px 2px 7px 0px rgba(0,0,0,0.15);
}

.card img {
    width: 185px;
}

.card button {
    position: relative;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 0px;
    background-image: linear-gradient(to right, rgb(19, 18, 18) , rgb(102, 100, 100));
    cursor: pointer;
}

.card i {
    color: white;
    font-size: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%,-50%);
}

.title {
    text-align: center;
}


.buttons{
    text-align: right;
    max-width: 935px;
    margin: 0 auto;
}

.check-wrapper {
    text-align: right;
}

.card .set {
    font-size: 19px;

}

.card .set .x{
    font-size: 18px;
}


